.heroImg {
  max-height: 24rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1.5rem;
}

@media (min-width: 750px) {
  .heroImg {
    box-shadow: var(--shadow-md);
  }
}

.heroImg img {
  width: 100%;
  border-radius: 1.5rem;
}

.bio {
  font-size: var(--f-u1);
  line-height: 2;
  margin-top: 4em;
}

.wrapper.bio {
  max-width: 50em;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  margin: 20px 0px 0px;
  padding: 0px;
  overflow: hidden;
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-link,
.resume-link {
  cursor: pointer;
  margin-top: 50px;
  margin-right: 1.25em;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .flex-container {
    flex-wrap: wrap-reverse;
  }
}
.flex-child {
  flex: 2 1 auto;
}
