.hero {
  background-color: #2677eb;
  min-height: calc(100vh - 60px - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  position: relative;
  color: #ffffff;
}

.portfolio-text {
  font-family: "Press Start";
  color: #f4c943;
}

.portfolio-text-image-wrap {
  max-width: 600px;
  margin-bottom: 2rem;
}

.portfolio-text-image {
  width: 100%;
  height: auto;
}

.hero-image-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero-image {
  width: 16rem;
  z-index: 2;
}

.circle {
  width: 20rem;
  height: 10rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.text-area {
  text-align: center;
  max-width: 80%;
}

.text-area h1,
.text-area h2 {
  overflow: hidden;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  margin: 0.5rem 0;
}

.slide-up {
  animation: slideUp 1.6s cubic-bezier(0.19, 1, 0.22, 1) both;
}

.text-area h1 {
  animation: fadeIn 2s ease-out;
}

.text-area h2 {
  animation: fadeIn 3s ease-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
