.header {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-50px);
  animation: slide-up-fade-in 1s forwards 0.5s;
}

.name {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--c-orange);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  animation: name-slide 1.5s ease forwards;
}

.role {
  font-size: 2rem;
  padding-left: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  animation: role-float 3s infinite ease-in-out;
}

.quote {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--color-text-inverse);
  opacity: 0;
  margin: 20px;
  padding: 10px;
  border-left: 4px solid var(--color-text);
  text-align: left;
  animation: quote-slide 1s forwards 1s;
}

.code-bracket-image {
  animation: slide-from-left 3s ease forwards;
}

.svg-container {
  position: absolute;
  top: 50%;
  left: calc(50%);
  width: 750px;
  height: 650px;
  transform: translateY(-50%);
}

/* Animations */
@keyframes slide-up-fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text-flicker {
  0%,
  100% {
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  50% {
    text-shadow: 0px 4px 12px rgba(255, 255, 255, 0.3);
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes name-slide {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes role-float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes quote-slide {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .svg-container {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}
