---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <MainHead title="About | George Vagdas" description="About George Vagdas" />
    <style>
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;
        border-radius: 34px;
      }

      .heroImg img {
        width: 100%;
        border-radius: 34px;
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
        margin-top: 4em;
      }

      .wrapper.bio {
        max-width: 50em;
      }

      ul.skills-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0px 10px;
        margin: 20px 0px 0px;
        padding: 0px;
        overflow: hidden;
        list-style: none;
      }

      .container {
        /* Center vertically and horizontally */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .email-link,
      .resume-link {
        padding: 1.25rem 1.75rem;
        cursor: pointer;
        margin-top: 50px;
        margin-right: 1.25em;
      }

      .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      /* Responsive layout - makes a one column layout instead of a two-column layout */
      @media (max-width: 800px) {
        .flex-container {
          flex-wrap: wrap-reverse;
        }
      }
      .flex-child {
        flex: 2 1 auto;
      }
    </style>
  </head>
  <body>
    <script>
      import "../scripts/counter.js";
    </script>
    <Nav />
    <div class="wrapper">
      <h1>About George</h1>
      <div class="heroImg">
        <img
          alt="desk-setup"
          width="1400"
          height="350"
          src="/assets/desk-setup.webp"
        />
      </div>
      <div class="flex-container">
        <div class="flex-child sticker">
          <img alt="gv-dev-sticker" src="/assets/gv-dev-sticker.webp" />
        </div>
        <div class="flex-child bio wrapper">
          <p>
            🌐 Web developer with a passion for JavaScript, both Frontend and
            Backend. That's what people call Fullstack developer!
            <br />
            📅 My interest in web development started back in 2013 (I was still in
            High School), when I created my first tech news website (tech4greece.gr).
            <br />I've been making websites for about <span id="years"></span> years
            - or <span id="timer"></span> milliseconds!
          </p>
          <h2>Technologies:</h2>
          <ul class="skills-list">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 1052 1052"
              >
                <path fill="#f0db4f" d="M0 0h1052v1052H0z"></path>
                <path
                  d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z"
                  fill="#323330"></path>
              </svg>
              JavaScript
            </li>
            <li>
              <svg
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 400 400"
                width="20"
                height="20"
              >
                <style>
                  .st0 {
                    fill: #007acc;
                  }
                  .st1 {
                    fill: #fff;
                  }
                </style><path class="st0" d="M0 200V0h400v400H0"></path>
                <path
                  class="st1"
                  d="M87.7 200.7V217h52v148h36.9V217h52v-16c0-9 0-16.3-.4-16.5 0-.3-31.7-.4-70.2-.4l-70 .3v16.4l-.3-.1zM321.4 184c10.2 2.4 18 7 25 14.3 3.7 4 9.2 11 9.6 12.8 0 .6-17.3 12.3-27.8 18.8-.4.3-2-1.4-3.6-4-5.2-7.4-10.5-10.6-18.8-11.2-12-.8-20 5.5-20 16 0 3.2.6 5 1.8 7.6 2.7 5.5 7.7 8.8 23.2 15.6 28.6 12.3 41 20.4 48.5 32 8.5 13 10.4 33.4 4.7 48.7-6.4 16.7-22 28-44.3 31.7-7 1.2-23 1-30.5-.3-16-3-31.3-11-40.7-21.3-3.7-4-10.8-14.7-10.4-15.4l3.8-2.4 15-8.7 11.3-6.6 2.6 3.5c3.3 5.2 10.7 12.2 15 14.6 13 6.7 30.4 5.8 39-2 3.7-3.4 5.3-7 5.3-12 0-4.6-.7-6.7-3-10.2-3.2-4.4-9.6-8-27.6-16-20.7-8.8-29.5-14.4-37.7-23-4.7-5.2-9-13.3-11-20-1.5-5.8-2-20-.6-25.7 4.3-20 19.4-34 41-38 7-1.4 23.5-.8 30.4 1l-.2.2z"
                ></path>
              </svg>
              TypeScript
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 256 272"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid"
              >
                <path
                  d="M.1 45.522L125.908.697l129.196 44.028-20.919 166.45-108.277 59.966-106.583-59.169L.1 45.522z"
                  fill="#E23237"></path>
                <path
                  d="M255.104 44.725L125.908.697v270.444l108.277-59.866 20.919-166.55z"
                  fill="#B52E31"></path>
                <path
                  d="M126.107 32.274L47.714 206.693l29.285-.498 15.739-39.347h70.325l17.233 39.845 27.99.498-82.179-174.917zm.2 55.882l26.496 55.383h-49.806l23.31-55.383z"
                  fill="#FFF"></path>
              </svg>
              Angular
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 256 282"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMinYMin meet"
              >
                <g fill="#8CC84B">
                  <path
                    d="M116.504 3.58c6.962-3.985 16.03-4.003 22.986 0 34.995 19.774 70.001 39.517 104.99 59.303 6.581 3.707 10.983 11.031 10.916 18.614v118.968c.049 7.897-4.788 15.396-11.731 19.019-34.88 19.665-69.742 39.354-104.616 59.019-7.106 4.063-16.356 3.75-23.24-.646-10.457-6.062-20.932-12.094-31.39-18.15-2.137-1.274-4.546-2.288-6.055-4.36 1.334-1.798 3.719-2.022 5.657-2.807 4.365-1.388 8.374-3.616 12.384-5.778 1.014-.694 2.252-.428 3.224.193 8.942 5.127 17.805 10.403 26.777 15.481 1.914 1.105 3.852-.362 5.488-1.274 34.228-19.345 68.498-38.617 102.72-57.968 1.268-.61 1.969-1.956 1.866-3.345.024-39.245.006-78.497.012-117.742.145-1.576-.767-3.025-2.192-3.67-34.759-19.575-69.5-39.18-104.253-58.76a3.621 3.621 0 0 0-4.094-.006C91.2 39.257 56.465 58.88 21.712 78.454c-1.42.646-2.373 2.071-2.204 3.653.006 39.245 0 78.497 0 117.748a3.329 3.329 0 0 0 1.89 3.303c9.274 5.259 18.56 10.481 27.84 15.722 5.228 2.814 11.647 4.486 17.407 2.33 5.083-1.823 8.646-7.01 8.549-12.407.048-39.016-.024-78.038.036-117.048-.127-1.732 1.516-3.163 3.2-3 4.456-.03 8.918-.06 13.374.012 1.86-.042 3.14 1.823 2.91 3.568-.018 39.263.048 78.527-.03 117.79.012 10.464-4.287 21.85-13.966 26.97-11.924 6.177-26.662 4.867-38.442-1.056-10.198-5.09-19.93-11.097-29.947-16.55C5.368 215.886.555 208.357.604 200.466V81.497c-.073-7.74 4.504-15.197 11.29-18.85C46.768 42.966 81.636 23.27 116.504 3.58z"
                  ></path>
                  <path
                    d="M146.928 85.99c15.21-.979 31.493-.58 45.18 6.913 10.597 5.742 16.472 17.793 16.659 29.566-.296 1.588-1.956 2.464-3.472 2.355-4.413-.006-8.827.06-13.24-.03-1.872.072-2.96-1.654-3.195-3.309-1.268-5.633-4.34-11.212-9.642-13.929-8.139-4.075-17.576-3.87-26.451-3.785-6.479.344-13.446.905-18.935 4.715-4.214 2.886-5.494 8.712-3.99 13.404 1.418 3.369 5.307 4.456 8.489 5.458 18.33 4.794 37.754 4.317 55.734 10.626 7.444 2.572 14.726 7.572 17.274 15.366 3.333 10.446 1.872 22.932-5.56 31.318-6.027 6.901-14.805 10.657-23.56 12.697-11.647 2.597-23.734 2.663-35.562 1.51-11.122-1.268-22.696-4.19-31.282-11.768-7.342-6.375-10.928-16.308-10.572-25.895.085-1.619 1.697-2.748 3.248-2.615 4.444-.036 8.888-.048 13.332.006 1.775-.127 3.091 1.407 3.182 3.08.82 5.367 2.837 11 7.517 14.182 9.032 5.827 20.365 5.428 30.707 5.591 8.568-.38 18.186-.495 25.178-6.158 3.689-3.23 4.782-8.634 3.785-13.283-1.08-3.925-5.186-5.754-8.712-6.95-18.095-5.724-37.736-3.647-55.656-10.12-7.275-2.571-14.31-7.432-17.105-14.906-3.9-10.578-2.113-23.662 6.098-31.765 8.006-8.06 19.563-11.164 30.551-12.275z"
                  ></path>
                </g>
              </svg>
              Node.js
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20"
                height="20"
                viewBox="0 0 122.522 122.523"
              >
                <defs>
                  <path id="a" d="M0 0h122.522v122.523H0z"></path>
                </defs>
                <clipPath id="b">
                  <use xlink:href="#a" overflow="visible"></use>
                </clipPath>
                <g clip-path="url(#b)">
                  <path
                    d="M313.19 48.227h-21.257v2.255c6.649 0 7.718 1.425 7.718 9.856V75.54c0 8.431-1.067 9.976-7.718 9.976-5.104-.713-8.55-3.444-13.3-8.67l-5.462-5.937c7.361-1.308 11.28-5.938 11.28-11.164 0-6.53-5.58-11.518-16.031-11.518h-20.9v2.255c6.649 0 7.718 1.425 7.718 9.856V75.54c0 8.431-1.068 9.976-7.718 9.976v2.256h23.631v-2.256c-6.648 0-7.718-1.545-7.718-9.976v-4.273h2.019l13.182 16.505h34.557c16.981 0 24.345-9.024 24.345-19.832-.002-10.807-7.364-19.713-24.346-19.713zm-49.756 19.355V51.79h4.868c5.343 0 7.719 3.681 7.719 7.956 0 4.157-2.376 7.837-7.719 7.837l-4.868-.001zm50.113 16.508h-.832c-4.274 0-4.868-1.067-4.868-6.53V51.79h5.7c12.35 0 14.604 9.024 14.604 16.031.001 7.243-2.255 16.269-14.604 16.269zM181.378 71.978l8.193-24.228c2.376-7.006 1.308-9.023-6.293-9.023v-2.376h22.325v2.376c-7.48 0-9.262 1.78-12.23 10.449L179.834 89.79h-1.543l-12.114-37.17-12.349 37.17h-1.545l-13.181-40.613c-2.85-8.669-4.75-10.449-11.638-10.449v-2.376h26.363v2.376c-7.008 0-8.908 1.662-6.413 9.023l7.956 24.228 11.993-35.627h2.258l11.757 35.626zM221.752 89.314c-13.062 0-23.75-9.618-23.75-21.376 0-11.638 10.688-21.257 23.75-21.257s23.75 9.619 23.75 21.257c0 11.758-10.687 21.376-23.75 21.376zm0-38.949c-10.924 0-14.726 9.854-14.726 17.574 0 7.839 3.802 17.576 14.726 17.576 11.045 0 14.845-9.737 14.845-17.576 0-7.72-3.8-17.574-14.845-17.574z"
                    fill="#00749a"></path><path
                    d="M366.864 85.396v2.375H339.67v-2.375c7.957 0 9.382-2.019 9.382-13.896V52.502c0-11.877-1.425-13.775-9.382-13.775V36.35h24.581c12.23 0 19.002 6.294 19.002 14.727 0 8.194-6.771 14.606-19.002 14.606h-6.77V71.5c.001 11.878 1.425 13.896 9.383 13.896zm-2.613-44.771h-6.77v20.664h6.77c6.65 0 9.737-4.631 9.737-10.212.001-5.7-3.086-10.452-9.737-10.452zM464.833 76.609l-.595 2.137c-1.067 3.919-2.376 5.344-10.807 5.344h-1.663c-6.174 0-7.243-1.425-7.243-9.855v-5.462c9.263 0 9.976.83 9.976 7.006h2.257V58.083h-2.257c0 6.175-.713 7.006-9.976 7.006V51.79h6.53c8.433 0 9.738 1.425 10.807 5.344l.596 2.256h1.898l-.83-11.162h-34.914v2.255c6.649 0 7.719 1.425 7.719 9.856V75.54c0 7.713-.907 9.656-6.15 9.934-4.983-.762-8.404-3.479-13.085-8.628l-5.463-5.937c7.363-1.308 11.282-5.938 11.282-11.164 0-6.53-5.581-11.518-16.031-11.518h-20.9v2.255c6.649 0 7.719 1.425 7.719 9.856V75.54c0 8.431-1.068 9.976-7.719 9.976v2.256h23.632v-2.256c-6.648 0-7.719-1.545-7.719-9.976v-4.273h2.02l13.181 16.505h48.806l.713-11.161-1.784-.002zm-62.937-9.027V51.79h4.868c5.344 0 7.72 3.681 7.72 7.956 0 4.157-2.376 7.837-7.72 7.837l-4.868-.001zM488.939 89.314c-4.75 0-8.907-2.493-10.688-4.038-.595.595-1.662 2.376-1.899 4.038h-2.257V72.927h2.375c.951 7.838 6.412 12.469 13.419 12.469 3.8 0 6.888-2.138 6.888-5.699 0-3.087-2.73-5.463-7.6-7.719l-6.77-3.206c-4.751-2.258-8.312-6.178-8.312-11.401 0-5.7 5.344-10.568 12.707-10.568 3.919 0 7.243 1.426 9.263 3.088.593-.476 1.188-1.782 1.544-3.208h2.256v14.014h-2.494c-.832-5.582-3.919-10.213-10.212-10.213-3.325 0-6.413 1.899-6.413 4.87 0 3.087 2.493 4.749 8.194 7.361l6.53 3.206c5.701 2.731 7.956 7.127 7.956 10.689 0 7.48-6.531 12.704-14.487 12.704zM525.514 89.314c-4.751 0-8.908-2.493-10.688-4.038-.594.595-1.662 2.376-1.898 4.038h-2.257V72.927h2.375c.95 7.838 6.411 12.469 13.419 12.469 3.8 0 6.888-2.138 6.888-5.699 0-3.087-2.731-5.463-7.601-7.719l-6.77-3.206c-4.75-2.258-8.312-6.178-8.312-11.401 0-5.7 5.344-10.568 12.707-10.568 3.919 0 7.242 1.426 9.263 3.088.593-.476 1.187-1.782 1.542-3.208h2.257v14.014h-2.493c-.832-5.582-3.919-10.213-10.212-10.213-3.325 0-6.414 1.899-6.414 4.87 0 3.087 2.494 4.749 8.195 7.361l6.53 3.206c5.7 2.731 7.955 7.127 7.955 10.689 0 7.48-6.531 12.704-14.486 12.704z"
                    fill="#464342"></path>
                  <g fill="#00749a">
                    <path
                      d="M8.708 61.26c0 20.803 12.089 38.779 29.619 47.299L13.258 39.872a52.354 52.354 0 0 0-4.55 21.388zM96.74 58.608c0-6.495-2.333-10.993-4.334-14.494-2.664-4.329-5.16-7.995-5.16-12.324 0-4.831 3.663-9.328 8.824-9.328.233 0 .454.029.682.042-9.351-8.566-21.808-13.796-35.49-13.796-18.36 0-34.513 9.42-43.91 23.688 1.233.037 2.396.062 3.382.062 5.497 0 14.006-.667 14.006-.667 2.833-.167 3.167 3.994.338 4.329 0 0-2.848.335-6.016.501L48.2 93.546l11.502-34.493-8.189-22.433c-2.83-.166-5.511-.501-5.511-.501-2.832-.166-2.5-4.496.332-4.329 0 0 8.679.667 13.843.667 5.496 0 14.006-.667 14.006-.667 2.835-.167 3.168 3.994.337 4.329 0 0-2.853.335-6.015.501l18.992 56.494 5.241-17.517c2.273-7.269 4.002-12.49 4.002-16.989z"
                    ></path><path
                      d="M62.184 65.857l-15.768 45.818a52.516 52.516 0 0 0 14.846 2.142c6.12 0 11.989-1.059 17.452-2.979a4.451 4.451 0 0 1-.374-.724L62.184 65.857zM107.376 36.046c.226 1.674.354 3.472.354 5.404 0 5.333-.996 11.328-3.996 18.824l-16.053 46.413c15.624-9.111 26.133-26.038 26.133-45.427a52.268 52.268 0 0 0-6.438-25.214z"
                    ></path>
                    <path
                      d="M61.262 0C27.483 0 0 27.481 0 61.26c0 33.783 27.482 61.264 61.262 61.264 33.778 0 61.265-27.48 61.265-61.264C122.526 27.481 95.04 0 61.262 0zm0 119.715c-32.23 0-58.453-26.223-58.453-58.455 0-32.229 26.222-58.45 58.453-58.45 32.229 0 58.45 26.221 58.45 58.45 0 32.232-26.222 58.455-58.45 58.455z"
                    ></path>
                  </g>
                </g>
              </svg>
              WordPress
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                width="20"
                height="20"
                viewBox="0 0 550 400"
                xml:space="preserve"
              >
                <g transform="matrix(0.94 0 0 0.94 -636.27 229.77)">
                  <linearGradient
                    id="SVGID_6"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="matrix(0 -384.24 384.24 0 1250 386.5)"
                    x1="0"
                    y1="0"
                    x2="1"
                    y2="0"
                  >
                    <stop
                      offset="0%"
                      style="stop-color:rgb(4,182,240);stop-opacity: 1"></stop>
                    <stop
                      offset="100%"
                      style="stop-color:rgb(62,202,240);stop-opacity: 1"></stop>
                  </linearGradient>
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 1.41; fill: url(#SVGID_6); fill-rule: nonzero; opacity: 1;"
                    transform=" translate(-1250, -245.13)"
                    d="M 248.385 255.483 C 248.385 292.805 237.288 324.242 215.015 349.691 C 191.772 376.355 161.57 389.741 124.599 389.741 C 87.53 389.741 57.426 376.355 34.182 349.691 C 11.9 324.242 0.72 292.805 0.72 255.483 C 0.72 218.058 11.9 186.631 34.182 161.274 C 57.684 134.859 87.887 121.658 124.599 121.658 C 161.57 121.658 191.772 134.859 215.015 161.274 C 237.288 186.631 248.385 218.058 248.385 255.483 Z M 174.775 255.483 C 174.775 238.578 170.729 224.309 162.629 212.773 C 153.566 199.66 140.883 193.146 124.599 193.146 C 108.309 193.146 95.631 199.66 86.559 212.773 C 78.375 224.309 74.325 238.578 74.325 255.483 C 74.325 272.294 78.375 286.734 86.559 298.617 C 95.631 311.73 108.309 318.254 124.599 318.254 C 140.883 318.254 153.566 311.73 162.629 298.617 C 170.729 286.734 174.775 272.294 174.775 255.483 Z M 514.535 255.483 C 514.535 290.345 504.497 320.806 484.333 346.866 C 462.763 375.389 434.942 389.741 401.134 389.741 C 377.271 389.741 357.028 382.787 340.475 369.055 C 340.475 372.217 340.827 379.879 341.534 392.128 C 342.237 404.44 342.584 414.478 342.584 422.403 C 342.584 466.172 329.554 488 303.5 488 C 292.842 488 284.131 484.213 277.172 476.727 C 270.306 469.163 266.87 460.077 266.87 449.35 L 266.87 164.71 C 266.87 154.32 270.394 145.336 277.436 137.772 C 284.477 130.286 293.198 126.509 303.587 126.509 C 319.252 126.509 330.701 134.327 337.923 149.923 C 353.329 131.082 374.372 121.658 401.046 121.658 C 434.942 121.658 462.675 135.737 484.333 164.007 C 504.409 190.159 514.535 220.62 514.535 255.483 Z M 440.925 255.483 C 440.925 238.578 436.797 224.309 428.696 212.773 C 419.619 199.66 406.946 193.146 390.656 193.146 C 374.372 193.146 361.694 199.66 352.622 212.773 C 344.521 224.309 340.475 238.578 340.475 255.483 C 340.475 272.294 344.521 286.734 352.622 298.617 C 361.694 311.73 374.372 318.254 390.656 318.254 C 406.946 318.254 419.619 311.73 428.696 298.617 C 436.797 286.734 440.925 272.294 440.925 255.483 Z M 782.354 247.567 C 782.354 259.88 779.446 268.332 773.634 273.095 C 767.827 277.755 758.76 280.132 746.521 280.132 L 613.663 280.132 C 613.663 294.22 620.27 305.044 633.475 312.608 C 644.128 318.518 657.158 321.519 672.564 321.519 C 684.545 321.519 698.892 317.542 715.708 309.719 C 732.525 301.789 743.349 297.909 748.024 297.909 C 756.559 297.909 763.776 300.994 769.764 307.333 C 775.659 313.589 778.66 321.158 778.66 329.878 C 778.66 350.028 763.606 365.717 733.486 376.98 C 710.511 385.427 687.18 389.741 663.326 389.741 C 624.94 389.741 593.947 376.98 570.265 351.541 C 546.577 326.091 534.699 294.132 534.699 255.483 C 534.699 218.673 547.021 187.246 571.67 161.02 C 596.231 134.771 626.79 121.658 663.234 121.658 C 697.13 121.658 725.478 134.073 748.199 158.898 C 770.906 183.732 782.354 213.31 782.354 247.567 Z M 708.754 229.067 C 708.398 217.794 703.206 207.585 693.168 198.333 C 683.129 189.095 672.481 184.523 661.208 184.523 C 649.589 184.523 638.756 189.095 628.722 198.333 C 618.689 207.585 613.663 217.794 613.663 229.067 L 708.754 229.067 Z M 1029.66 346.241 C 1029.66 356.992 1026.23 366.054 1019.37 373.627 C 1012.41 381.118 1003.69 384.905 993.039 384.905 C 967.331 384.905 954.472 364.477 954.472 323.715 C 954.472 315.878 955.004 303.556 956.058 286.563 C 957.205 269.654 957.737 257.244 957.737 249.407 C 957.737 206.17 943.736 184.523 915.827 184.523 C 887.914 184.523 874.006 206.17 874.006 249.407 C 874.006 257.244 874.445 269.654 875.236 286.563 C 876.119 303.556 876.558 315.878 876.558 323.715 C 876.558 364.477 863.88 384.905 838.528 384.905 C 827.87 384.905 819.159 381.118 812.288 373.627 C 805.334 366.054 801.899 356.992 801.899 346.241 L 801.899 164.632 C 801.899 153.959 805.334 144.907 812.288 137.596 C 819.159 130.198 827.963 126.509 838.616 126.509 C 856.223 126.509 868.457 134.327 875.323 149.923 C 887.211 131.082 908.249 121.658 938.363 121.658 C 966.272 121.658 988.461 129.047 1004.75 143.75 C 1021.39 159.522 1029.66 181.17 1029.66 208.732 L 1029.66 346.241 Z M 1260.59 338.418 C 1260.59 355.054 1249.78 368.255 1228.11 377.951 C 1210.95 385.776 1192.3 389.798 1173.44 389.741 C 1136.36 389.741 1106.26 376.355 1083.02 349.691 C 1060.74 324.242 1049.56 292.805 1049.56 255.483 C 1049.56 218.058 1060.92 186.46 1083.72 160.572 C 1106.52 134.605 1136.36 121.658 1173.44 121.658 C 1194.83 121.658 1213.23 124.826 1228.56 131.082 C 1249.94 139.534 1260.59 152.734 1260.59 170.698 C 1260.59 179.76 1257.78 187.773 1252.14 194.732 C 1246.51 201.598 1239.28 205.121 1230.49 205.121 C 1224.49 205.121 1215.86 203.096 1204.6 199.143 C 1193.33 195.083 1184.36 193.146 1177.76 193.146 C 1160.23 193.146 1146.58 199.397 1136.81 211.894 C 1127.74 223.167 1123.16 237.607 1123.16 255.483 C 1123.16 272.294 1127.21 286.563 1135.41 298.095 C 1144.46 311.568 1157.24 318.254 1173.52 318.254 C 1180.75 318.254 1190.6 316.141 1203.19 311.817 C 1215.79 307.606 1224.86 305.405 1230.49 305.405 C 1238.68 305.405 1245.71 308.919 1251.71 315.79 C 1257.61 322.744 1260.59 330.22 1260.59 338.418 Z M 1528.15 346.241 C 1528.15 356.992 1524.72 366.054 1517.85 373.627 C 1510.9 381.118 1502.1 384.905 1491.43 384.905 C 1475.41 384.905 1463.97 377.063 1457.1 361.481 C 1441.7 380.328 1420.65 389.741 1393.98 389.741 C 1359.83 389.741 1331.83 375.389 1310.16 346.866 C 1290.44 320.806 1280.51 290.345 1280.51 255.483 C 1280.51 220.62 1290.44 190.159 1310.16 164.007 C 1332.18 135.737 1360.08 121.658 1393.98 121.658 C 1420.65 121.658 1441.7 131.082 1457.1 149.923 C 1463.97 134.327 1475.41 126.509 1491.43 126.509 C 1501.83 126.509 1510.55 130.286 1517.6 137.772 C 1524.63 145.336 1528.15 154.232 1528.15 164.632 L 1528.15 346.241 Z M 1454.55 255.483 C 1454.55 238.578 1450.51 224.309 1442.4 212.773 C 1432.98 199.66 1420.3 193.146 1404.37 193.146 C 1388.08 193.146 1375.41 199.66 1366.33 212.773 C 1358.15 224.309 1354.11 238.578 1354.11 255.483 C 1354.11 272.294 1358.05 286.734 1365.88 298.617 C 1375.23 311.73 1388.08 318.254 1404.37 318.254 C 1420.65 318.254 1433.33 311.73 1442.4 298.617 C 1450.51 286.734 1454.55 272.294 1454.55 255.483 Z M 1715.95 159.776 C 1715.95 175.534 1708.29 186.362 1692.97 192.257 C 1678.8 197.02 1664.7 201.871 1650.62 206.873 C 1635.2 215.686 1627.55 232.059 1627.55 255.834 L 1627.55 346.241 C 1627.55 356.992 1624.02 366.054 1617.17 373.627 C 1610.2 381.118 1601.4 384.905 1590.75 384.905 C 1580.02 384.905 1571.2 381.118 1564.35 373.627 C 1557.38 366.054 1553.95 356.992 1553.95 346.241 L 1553.95 164.632 C 1553.95 153.959 1557.38 144.907 1564.25 137.596 C 1571.2 130.198 1580.02 126.509 1590.67 126.509 C 1608.27 126.509 1620.5 134.327 1627.38 149.923 C 1643.14 131.082 1660.05 121.658 1678.27 121.658 C 1688.65 121.658 1697.55 125.436 1704.94 132.921 C 1712.24 140.495 1715.95 149.474 1715.95 159.776 Z M 1907.97 163.124 C 1907.97 179.496 1901.54 189.798 1888.79 194.209 C 1882.52 196.405 1869.39 197.547 1849.41 197.547 L 1849.41 346.241 C 1849.41 356.992 1845.89 366.054 1839.04 373.627 C 1832.07 381.118 1823.27 384.905 1812.62 384.905 C 1802.24 384.905 1793.42 381.118 1786.37 373.627 C 1779.34 366.054 1775.82 356.992 1775.82 346.241 L 1775.82 197.547 C 1760.67 197.547 1749.67 195.61 1742.72 191.833 C 1733.22 186.548 1728.52 176.949 1728.52 163.124 C 1728.52 149.308 1733.37 139.885 1743.14 134.859 C 1749.75 131.16 1760.67 129.232 1775.82 129.232 L 1775.82 97.712 C 1775.82 60.649 1788.04 42.163 1812.62 42.163 C 1837.09 42.163 1849.41 60.649 1849.41 97.712 L 1849.41 129.232 C 1869.39 129.232 1882.52 130.374 1888.79 132.57 C 1901.54 136.972 1907.97 147.195 1907.97 163.124 Z M 2499.28 118.418 C 2499.08 95.819 2457.32 85.561 2349.22 85.561 C 2095.58 85.561 2031.23 74.727 1962.37 2.264 C 1991.34 45.774 2007.19 127.383 2275.28 123.322 C 2554.99 119.013 2384.35 195.444 2334.7 281.796 C 2424.24 201.881 2499.01 149.206 2499.28 118.745 L 2499.28 118.418 Z M 2142.86 350.477 C 2142.85 371.483 2125.57 388.765 2104.56 388.77 C 2083.34 388.77 2066.18 371.612 2066.18 350.477 C 2066.18 350.467 2066.18 350.457 2066.18 350.447 C 2066.18 329.406 2083.49 312.091 2104.54 312.091 C 2104.55 312.091 2104.55 312.091 2104.56 312.091 C 2125.71 312.091 2142.86 329.254 2142.86 350.477 Z M 2317.53 350.477 C 2317.52 371.483 2300.24 388.765 2279.23 388.77 C 2258.03 388.77 2240.86 371.612 2240.86 350.477 C 2240.86 350.467 2240.86 350.457 2240.86 350.447 C 2240.86 329.406 2258.17 312.091 2279.21 312.091 C 2279.22 312.091 2279.22 312.091 2279.23 312.091 C 2300.38 312.091 2317.53 329.254 2317.53 350.477 Z"
                    stroke-linecap="round"></path>
                </g>
              </svg>
              Opencart
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <a
          class="button email-link"
          href="mailto:dev@vagdas.eu"
          rel="noopener noreferrer"
          target="_blank">Say Hello</a
        >
        <a
          class="button resume-link"
          aria-label="Get Resume"
          href="/assets/CV_Georgios Vagdas_2023.pdf"
          target="_blank">Résumé</a
        >
      </div>
    </div>
    <Footer />
  </body>
</html>
