---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <MainHead title="About | George Vagdas" description="About George Vagdas" />
    <style>
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1.5rem;
      }

      @media (min-width: 750px) {
        .heroImg {
          box-shadow: var(--shadow-md);
        }
      }

      .heroImg img {
        width: 100%;
        border-radius: 1.5rem;
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
        margin-top: 4em;
      }

      .wrapper.bio {
        max-width: 50em;
      }

      ul.skills-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0px 10px;
        margin: 20px 0px 0px;
        padding: 0px;
        overflow: hidden;
        list-style: none;
      }

      .container {
        /* Center vertically and horizontally */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .email-link,
      .resume-link {
        cursor: pointer;
        margin-top: 50px;
        margin-right: 1.25em;
        width: 200px;
        height: 50px;
        text-align: center;
        line-height: 50px;
      }

      .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      /* Responsive layout - makes a one column layout instead of a two-column layout */
      @media (max-width: 800px) {
        .flex-container {
          flex-wrap: wrap-reverse;
        }
      }
      .flex-child {
        flex: 2 1 auto;
      }
    </style>
  </head>
  <body>
    <script>
      import "../scripts/counter.js";
    </script>
    <Nav />
    <div class="wrapper">
      <h1 class="title">About George</h1>
      <div class="heroImg">
        <img
          alt="desk-setup"
          width="1400"
          height="350"
          src="/assets/desk-setup.webp"
        />
      </div>
      <div class="flex-container">
        <div class="flex-child sticker">
          <img alt="gv-dev-sticker" src="/assets/gv-dev-sticker.webp" />
        </div>
        <div class="flex-child bio wrapper">
          <p>
            🌐 Web developer with a passion for JavaScript, both Frontend and
            Backend. That's what people call Fullstack developer!
            <br />
            📅 My interest in web development started back in 2013 (I was still in
            High School), when I created my first tech news website (tech4greece.gr).
            <br />I've been making websites for about <span id="years"></span>
            years - or <span id="timer"></span> milliseconds!
          </p>
          <h2>Technologies:</h2>
          <ul class="skills-list">
            <li>
              <i class="fa-brands fa-square-js fa-lg" style="color: #ecdc67;"
              ></i> JavaScript
            </li>
            <li>
              <span style="display: inline-flex; align-items: center;">
                <svg
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 400 400"
                  width="20"
                  height="20"
                  style="margin-right: 5px;"
                >
                  <style>
                    .st0 {
                      fill: #007acc;
                    }
                    .st1 {
                      fill: #fff;
                    }
                  </style>
                  <path class="st0" d="M0 200V0h400v400H0"></path>
                  <path
                    class="st1"
                    d="M87.7 200.7V217h52v148h36.9V217h52v-16c0-9 0-16.3-.4-16.5 0-.3-31.7-.4-70.2-.4l-70 .3v16.4l-.3-.1zM321.4 184c10.2 2.4 18 7 25 14.3 3.7 4 9.2 11 9.6 12.8 0 .6-17.3 12.3-27.8 18.8-.4.3-2-1.4-3.6-4-5.2-7.4-10.5-10.6-18.8-11.2-12-.8-20 5.5-20 16 0 3.2.6 5 1.8 7.6 2.7 5.5 7.7 8.8 23.2 15.6 28.6 12.3 41 20.4 48.5 32 8.5 13 10.4 33.4 4.7 48.7-6.4 16.7-22 28-44.3 31.7-7 1.2-23 1-30.5-.3-16-3-31.3-11-40.7-21.3-3.7-4-10.8-14.7-10.4-15.4l3.8-2.4 15-8.7 11.3-6.6 2.6 3.5c3.3 5.2 10.7 12.2 15 14.6 13 6.7 30.4 5.8 39-2 3.7-3.4 5.3-7 5.3-12 0-4.6-.7-6.7-3-10.2-3.2-4.4-9.6-8-27.6-16-20.7-8.8-29.5-14.4-37.7-23-4.7-5.2-9-13.3-11-20-1.5-5.8-2-20-.6-25.7 4.3-20 19.4-34 41-38 7-1.4 23.5-.8 30.4 1l-.2.2z"
                  ></path>
                </svg>
                <span>TypeScript</span>
              </span>
            </li>
            <li>
              <i class="fa-brands fa-angular fa-lg" style="color: #a63937;"></i>
              Angular
            </li>
            <li>
              <i class="fa-brands fa-react fa-lg" style="color: #61dbfb;"></i>
              React
            </li>
            <li>
              <i class="fa-brands fa-node-js fa-lg" style="color: #98c65d;"></i>
              Node.js
            </li>

            <li>
              <i
                class="fa-brands fa-wordpress-simple fa-lg"
                style="color: #317196;"></i>
              WordPress
            </li>
            <li>
              <i class="fa-brands fa-opencart fa-sm" style="color: #63c1eb;"
              ></i>
              Opencart
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <a
          class="button email-link"
          href="mailto:dev@vagdas.eu"
          rel="noopener noreferrer"
          target="_blank">Say Hello</a
        >
        <a
          class="button resume-link"
          aria-label="Get Resume"
          href="/assets/pdf/CV_Georgios Vagdas_2023.pdf"
          target="_blank">Résumé</a
        >
      </div>
    </div>
    <Footer />
  </body>
</html>
