---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import type { Project } from "../types";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob<Project>("./project/**/*.md");
const featuredProject = projects[0]!;
---

<html lang="en">
  <head>
    <MainHead
      title="George Vagdas: Personal Site"
      description="George Vagdas: Web Developer..."
    />
    <style>
      .wrapper {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .img {
        display: block;
        width: 100%;
        height: auto;
      }

      .grid {
        display: grid;
        grid-gap: 2rem;
      }

      @media (min-width: 1200px) {
        .grid {
          grid-template-columns: 2fr 1fr;
        }
      }

      .sectionTitle {
        font-weight: 700;
        font-size: var(--f-u8);
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      .bio {
        line-height: 2;
        margin-bottom: 2rem;
      }

      .bio > span:first-of-type {
        line-height: 1;
        margin-bottom: 0.5em;
        display: block;
        font-weight: 700;
        font-size: var(--f-u4);
      }

      .buttonContainer {
        text-align: center;
        margin-top: 2em;
        border-radius: 1.5rem;
      }
    </style>
  </head>
  <body>
    <Nav />
    <Header />
    <main class="wrapper">
      <div class="grid">
        <div class="section">
          <h3 class="sectionTitle">💻 Selected Work</h3>
          <PortfolioPreview project={featuredProject} />
          <div class="buttonContainer">
            <a href="/projects/" class="button">View All</a>
          </div>
        </div>
        <div class="section">
          <h3 class="sectionTitle">
            <img
              alt="gv-dev-sticker"
              width="50"
              height="50"
              src="/assets/gv-hi.webp"
            />
            Who am I
          </h3>
          <p class="bio">
            Originally from Greece 🇬🇷, I am currently based in 📍 Athens,
            working as Javascript Engineer.

            <br /><br />Even though I work as a full stack engineer, having
            Node.js and PHP as my backend side, I am a big fan of web
            technologies, specifically Frontend Frameworks and web APIs. I love
            to constantly experiment them in side projects.
          </p>
          <p>
            <a href="/about" class="button">Read more</a>
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
