<section class="bg-gray-50 min-h-screen flex items-center justify-center">
  <!-- Bento Grid -->
  <div
    class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 p-10 md:p-20 xl:p-40 max-w-screen-2xl w-full"
  >
    <!-- Bento Box 1: Large Horizontal Box -->
    <div
      class="bg-white shadow rounded-3xl p-6 col-span-2 sm:col-span-3 lg:col-span-2 min-h-60"
    >
    </div>

    <!-- Bento Box 2: Small Box -->
    <div
      class="bg-white shadow rounded-3xl p-6 col-span-1 sm:col-span-2 lg:col-span-1 min-h-60"
    >
    </div>

    <!-- Bento Box 3: Large Vertical Box -->
    <div
      class="bg-white shadow rounded-3xl p-6 col-span-1 sm:col-span-1 lg:col-span-1 sm:row-span-2 min-h-60"
    >
    </div>

    <!-- Bento Box 4: Large Vertical Box -->
    <div
      class="bg-white shadow rounded-3xl p-6 col-span-2 sm:col-span-1 lg:col-span-1 row-span-2 min-h-60"
    >
    </div>

    <!-- Bento Box 5: Small Box -->
    <div
      class="bg-white shadow rounded-3xl p-6 col-span-2 sm:col-span-1 lg:col-span-1 min-h-60"
    >
    </div>

    <!-- Bento Box 6: Small Box -->
    <div
      class="bg-white shadow rounded-3xl p-6 col-span-1 sm:col-span-2 lg:col-span-1 min-h-60"
    >
    </div>

    <!-- Bento Box 7: Large Horizontal Box -->
    <div
      class="bg-white shadow rounded-3xl p-6 col-span-1 sm:col-span-2 lg:col-span-2 min-h-60"
    >
    </div>

    <!-- Bento Box 8: Small Box -->
    <div
      class="bg-white shadow rounded-3xl p-6 col-span-2 sm:col-span-1 lg:col-span-1 min-h-60"
    >
    </div>
  </div>
</section>
