---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="socials">
    <a class="social" href="https://linkedin.com/in/gvagdas" aria-label="linkedin" target="_blank">
      <i class="fa-brands fa-linkedin fa-2xl"></i>
    </a>
    <a class="social" href="https://github.com/georgevgs" aria-label="github" target="_blank">
      <i class="fa-brands fa-github fa-2xl"></i>
    </a>
    <a
      class="social"
      href="mailto:dev@vagdas.eu"
      rel="noopener noreferrer"
      aria-label="mail"
      target="_blank"
    >
      <i class="fa-solid fa-envelope fa-2xl"></i>
    </a>
  </div>
   &copy; {currentYear} George Vagdas
</footer>
<style>
  footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.socials {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social i {
  color: var(--t-subdue);
  transition: color 0.2s ease-in-out;
}

.social i:hover {
  color: var(--c-blue);
}

</style>
