---
import "../styles/header.css";
---

<section class="hero flex flex-col items-center justify-center">
  <div class="portfolio-text-image-wrap mb-4">
    <!-- <img
      src="/assets/portfolio-text-image.avif"
      alt="Portfolio Text Image"
      class="portfolio-text-image"
    /> -->
    <h1 class="portfolio-text text-6xl md:text-9xl">
      PORT<br />FOLIO
    </h1>
  </div>
  <div class="text-area text-center">
    <h1 class="text-4xl md:text-6xl font-black leading-tight">
      <span class="block overflow-hidden">
        <span class="block slide-up">George VAGDAS</span>
      </span>
    </h1>
    <h2 class="text-2xl md:text-4xl font-black mt-4">
      <span class="block overflow-hidden">
        <span class="block slide-up">Full Stack Developer</span>
      </span>
    </h2>
  </div>
  <div
    class="hero-image-wrap relative flex justify-center items-center w-64 h-64"
  >
    <div class="circle bg-white rounded-full absolute"></div>
    <img
      src="/assets/gv-dev-sticker.webp"
      alt="GV Sticker Image"
      class="hero-image"
    />
  </div>
</section>
