---
import Toggle from "./ThemeChange.astro";

interface Props {
  isHomePage?: boolean;
}

const isHomePage = Astro.props.isHomePage;

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "Work", href: "/work/" },
  { label: "Projects", href: "/projects/" },
  { label: "About", href: "/about/" },
];
---

<nav class={isHomePage ? "home-page" : ""}>
  <button id="menuToggle" class="menu-toggle">☰</button>
  <ul class={`nav-items ${isHomePage ? "nav-items--home-page" : ""}`}>
    {
      textLinks.map(({ label, href }) => (
        <li>
          <a
            aria-current={Astro.url.pathname === href}
            aria-label={`It's${label} website page`}
            class:list={[
              "link",
              isHomePage ? "home-page-link" : "",
              {
                active:
                  Astro.url.pathname === href ||
                  (href !== "/" && Astro.url.pathname.startsWith(href)),
              },
            ]}
            href={href}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="toggle-wrapper">
    <Toggle />
  </div>
</nav>

<style>
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--color-bg);
    height: 60px;
  }

  .home-page {
    background: linear-gradient(
      to right,
      var(--c-orange) 0%,
      var(--c-orange) 66.66%,
      var(--color-bg-inverse) 66.66%,
      var(--color-bg-inverse) 100%
    );
  }

  .toggle-wrapper {
    justify-content: flex-end;
  }

  .menu-toggle {
    display: none;
    font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-text);
    z-index: 1001;
  }

  .nav-items {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transition: background 0.3s ease-in-out;
  }

  @media screen and (max-width: 768px) {
    .home-page {
      background: var(--c-orange);
    }

    .menu-toggle {
      display: flex;
    }
    
    .nav-items {
      position: fixed;
      top: 60px;
      left: 0;
      width: 80%;
      height: calc(100% - 60px);
      background: var(--color-bg);
      overflow-y: auto;
      transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2rem;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      transform: translateX(-100%);
    }

    .nav-items--home-page {
      background: var(--c-orange);
    }

    .nav-items.show {
      transform: translateX(0%);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }

  .link {
    color: var(--color-text);
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: var(--f-d1);
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    border: 2px solid var(--color-text);
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .home-page-link {
    color: var(--color-text-inverse);
    border: 2px solid var(--color-text-inverse);
  }

  .link:hover,
  .link:focus {
    color: var(--c-orange);
    border: 2px solid var(--c-orange);
  }

  .home-page-link:hover,
  .home-page-link:focus {
    color: var(--color-text);
    border: 2px solid var(--color-text);
  }

  .link.active {
    color: var(--c-orange);
    border: 2px solid var(--c-orange);
  }

  .home-page-link.active {
    color: var(--color-text);
    border: 2px solid var(--color-text);
  }
</style>

<script>
  // Toggle mobile menu
  const menuToggle = document.getElementById("menuToggle") as HTMLButtonElement;
  const navItems = document.querySelector(".nav-items") as HTMLUListElement;

  menuToggle.addEventListener("click", function () {
    navItems.classList.toggle("show");
  });

  // Add this part to close the menu when clicking anywhere outside of it
  document.addEventListener("click", function (event) {
    const target = event.target as Node; // Type assertion here
    if (navItems && menuToggle) {
      // Add null checks for safety
      if (!navItems.contains(target) && !menuToggle.contains(target)) {
        navItems.classList.remove("show");
      }
    }
  });

  // Get the theme toggle input
  const themeToggle = document.querySelector(
    '.theme-switch input[type="checkbox"]'
  ) as HTMLInputElement;

  // Get the current theme from local storage
  const currentTheme = localStorage.getItem("theme");

  // If the current local storage item can be found
  if (currentTheme) {
    // Set the body data-theme attribute to match the local storage item
    document.documentElement.setAttribute("data-theme", currentTheme);

    // If the current theme is dark, check the theme toggle
    if (currentTheme === "dark") {
      themeToggle.checked = true;
    }
  }

  // Function that will switch the theme based on the if the theme toggle is checked or not
  function switchTheme(e: any) {
    if (e.target.checked) {
      document.documentElement.setAttribute("data-theme", "dark");
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.setAttribute("data-theme", "light");
      localStorage.setItem("theme", "light");
    }
  }

  // Add an event listener to the theme toggle, which will switch the theme
  themeToggle.addEventListener("change", switchTheme, false);
</script>
