---

---

<nav class="p-8 flex justify-center items-center">
  <a
    href="/"
    class="text-black font-bold text-2xl w-12 h-12 flex justify-center items-center rounded-full border-2 border-black hover:border-[var(--c-blue)] hover:text-[var(--c-blue)] hover-move-down"
  >
    &times;
  </a>
</nav>

<style>
  .hover-move-down:hover {
    transform: translateY(10px);
    transition: transform 0.3s ease-in-out;
  }
  .border-2 {
    border-width: 2px;
  }
</style>
