---
import Toggle from "./ThemeChange.astro";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Work", href: "/projects/" },
  { label: "About", href: "/about/" },
];
---

<nav>
  <a class="link" href="/">
    <div class="monogram">GV</div>
  </a>
  <ul class="nav-items">
    {
      textLinks.map(({ label, href }) => (
        <li>
          <a
            aria-current={Astro.url.pathname === href}
            class:list={[
              "link",
              {
                active:
                  Astro.url.pathname === href ||
                  (href !== "/" && Astro.url.pathname.startsWith(href)),
              },
            ]}
            href={href}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
  <Toggle />
</nav>

<style>
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--color-bg);
    height: 40px;
  }

  .link {
    color: var(--t-subdue);
    display: block;
    text-decoration: none;
    font-size: var(--f-d1);
    text-transform: uppercase;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-radius: 1.5rem;
  }

  .link:hover,
  .link:focus {
    color: var(--c-orange);
    border-radius: 1.5rem;
  }

  .link.active {
		color: var(--c-orange);
	}

  .monogram {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    margin-right: 0.5rem;
    font-weight: 900;
    /* letter-spacing: -0.125rem; */
    border: 3px solid currentColor;
    border-radius: 50%;
    color: var(--c-orange);
    box-shadow: var(--shadow-md);
  }

  .monogram:hover {
    color: var(--c-black);
  }

  .nav-items {
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-direction: row;
  }

  .socials {
    display: flex;
    gap: 0.75em;
    margin-left: auto;
  }

  .social {
    display: block;
  }

  .socialIcon {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--t-subdue);
    transition: fill linear 150ms;
  }

  .socialIcon:hover {
    fill: var(--c-orange);
  }
</style>
<script>
  // Get the theme toggle input
  const themeToggle = document.querySelector(
    '.theme-switch input[type="checkbox"]'
  ) as HTMLInputElement;

  // Get the current theme from local storage
  const currentTheme = localStorage.getItem("theme");

  // If the current local storage item can be found
  if (currentTheme) {
    // Set the body data-theme attribute to match the local storage item
    document.documentElement.setAttribute("data-theme", currentTheme);

    // If the current theme is dark, check the theme toggle
    if (currentTheme === "dark") {
      themeToggle.checked = true;
    }
  }

  // Function that will switch the theme based on the if the theme toggle is checked or not
  function switchTheme(e: any) {
    if (e.target.checked) {
      document.documentElement.setAttribute("data-theme", "dark");
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.setAttribute("data-theme", "light");
      localStorage.setItem("theme", "light");
    }
  }

  // Add an event listener to the theme toggle, which will switch the theme
  themeToggle.addEventListener("change", switchTheme, false);
</script>
